@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    font-family: 'Ubuntu', sans-serif;

}
body{

    overflow-x: hidden; 

}
.card-img{

    @apply hover:scale-105 transition ease-in-out cursor-pointer;

}
.card h3{

    @apply px-2 py-3 text-lg text-white;

}
.card h4{

    @apply pl-5 text-base text-gray-100;

}
.img{

    @apply rounded w-full;

}
.badge-tempo{

    @apply absolute text-xs font-semibold top-0 cursor-default tempo;

}
.tempo{

    @apply bg-gray-500 text-white opacity-90 p-2 m-2 rounded-full shadow-md;

}
.navbar{

    @apply opacity-80 bg-gray-400 flex w-full fixed z-10 justify-between shadow-md h-16;

}
nav li{

    @apply ml-3 text-gray-100 hover:scale-105 hover:text-white pb-1 hover:border-b hover:border-blue;

}
.active{

    @apply text-blue hover:text-blue;

}
.main-home h2{

    @apply font-bold text-2xl pb-2 border-b border-gray-200;

}

.spacer{

    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.vidacalura{

    margin-top: -155px;

}
@media only screen and (max-width: 600px){

    .vidacalura{

        margin-top: -80px; 

    }

} 
.colaborador{

    @apply rounded-full bg-gray-500 border-2 border-gray-100 opacity-75 mb-1;

}
.cad-div{

    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.txtbox{

    @apply mb-8 p-2 rounded shadow-sm;

}


body::-webkit-scrollbar {

    width: 6px; 

}
body::-webkit-scrollbar-thumb{

    height: 10%;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid darkgray;

}