@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    font-family: 'Ubuntu', sans-serif;

}
body{

    overflow-x: hidden; 

}
.card-img{

    @apply hover:scale-105 transition ease-in-out cursor-pointer;

}
.card h3{

    @apply px-2 py-3 text-lg text-white;

}
.card h4,
.div-video h4{

    @apply pl-5 text-base text-gray-100;

}
.img{

    @apply rounded w-full;

}
.badge-tempo{

    @apply absolute text-xs font-semibold top-0 cursor-default tempo;

}
.tempo{

    @apply bg-gray-500 text-white opacity-90 p-2 m-2 rounded-full shadow-md;

}
.navbar{

    @apply opacity-80 bg-gray-400 flex w-full fixed z-10 justify-between shadow-md h-16;

}
nav ul li{

    @apply ml-3 text-gray-100 hover:scale-105 hover:text-white pb-1 hover:border-b hover:border-blue;

}
.no-underline{

    @apply hover:border-none hover:scale-100 cursor-pointer;

}
.dropdown-icon:target .dropdown-user{

    display: block;

}
.dropdown-item{

    @apply m-0 p-2 px-4 no-underline hover:scale-100 hover:bg-gray-500;

}
.active{

    @apply text-blue hover:text-blue;

}
.main-home h2{

    @apply font-bold text-2xl pb-2 border-b border-gray-200;

}

.spacer{

    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.vidacalura{

    margin-top: -155px;

}
.colaborador{

    @apply rounded-full bg-gray-500 border-2 border-gray-100 opacity-75 mb-1;

}
.cad-div{

    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.txtbox{

    @apply mb-8 p-2 rounded shadow-sm;

}
.video{

    @apply rounded w-96 shadow-md;
    margin: 0 auto;
    width: 18.7em;
    height: 10.5em;

}
/*
.video-niconico{

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);

}
.text-niconico{

    top: 78vh;
    position: absolute;

}
*/
.div-video h3{

    @apply text-xl font-normal;

}

@media only screen and (max-width: 600px){

    .vidacalura{

        margin-top: -80px; 

    }

} 
@media only screen and (min-width: 950px){

    .video{

        width: 56em;
        height: 31.5em;

    }

} 
@media only screen and (min-width: 700px) and (max-width: 949px) {

    .video{

        width: 42em;
        height: 23.625em;
        
    }

}
@media only screen and (min-width: 460px) and (max-width: 699px) {

    .video{

        width: 28em;
        height: 15.75em;
        
    }

}


body::-webkit-scrollbar {

    width: 6px; 

}
body::-webkit-scrollbar-thumb{

    height: 10%;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid darkgray;

}